.venv/
venv/
__pycache__/
*.pyc

node_modules/
dist/
build/

data/
datasets/
videos/
models/
checkpoints/
weights/
runs/
artifacts/
outputs/
logs/

*.mp4
*.avi
*.mov
*.mkv
*.zip
*.tar
*.gz
*.pt
*.pth
*.onnx
*.ckpt
.yolov8n-pose.pt
.yolov8s-pose.pt